/* Font family  */
* {
    font-family: 'Poppins', sans-serif;
}

/* my logo at the top of the navbar */
#mylogo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


/* text gold settings start*/
.profile_text {
    color: gold;
}

.contactMe {
    color: gold;
}
.myprojectclass {
    color: gold;
}

.toolsanimation {
    color: gold;
}
/* text gold settings end */


/* My image inside the carousel settings */
.my-image {
    width:350px;
    height: 550px;
    border-radius: 50%;
}
.sectioncontact {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.sectioncontact {
  text-align: center;
}

/* My background gradient color combination */
.landingPageBackGround {
  background: rgb(35,25,38);
  background: radial-gradient(circle, rgba(35,25,38,1) 27%, rgba(62,25,73,1) 59%, rgba(55,5,71,1) 73%, rgba(46,18,56,1) 93%, rgba(63,89,105,1) 100%);
}
.projectsPageBackGround {
  background: rgb(35,25,38);
background: radial-gradient(circle, rgba(35,25,38,1) 27%, rgba(62,25,73,1) 59%, rgba(55,5,71,1) 73%, rgba(46,18,56,1) 93%, rgba(63,89,105,1) 100%);
}
.toolsPageBackGround {
  background: rgb(35,25,38);
background: radial-gradient(circle, rgba(35,25,38,1) 27%, rgba(62,25,73,1) 59%, rgba(55,5,71,1) 73%, rgba(46,18,56,1) 93%, rgba(63,89,105,1) 100%);
}
.contactPageBackGround {
  background: rgb(35,25,38);
background: radial-gradient(circle, rgba(35,25,38,1) 27%, rgba(62,25,73,1) 59%, rgba(55,5,71,1) 73%, rgba(46,18,56,1) 93%, rgba(63,89,105,1) 100%);
}

/* This is for animation tools with a 50% in bar */
.barlen {
    width: 50%;
}

/* Settings of progress bar */

.spacing {
  padding-bottom: 100px;
}

/* node border */

.nodeborder {
  background-color: gray;
  border-radius: 50%;
}



/* Start of text Animation */
.front_end_text {
    overflow: hidden; 
    border-right: .15em ; 
    white-space: nowrap; 
    animation: typing 4s steps(40) infinite; 
  }


  
@keyframes typing {
    0% {
      width: 0; 
    }
    100% {
      width: 100%; 
    }
  }

=  
 @keyframes type {
    0% {
      width: 0; 
    }
    to 100% {
      width: 100%; 
    }
  }
  

  .barlen {
    animation: progressAnimation 4s linear forwards infinite;
  }

  @keyframes progressAnimation {
    0% {
      width: 0%;
    }
    50% {
      width: 50%;
    }
  }
/* End of text Animation */
